.card {
  display: flex;
  flex-direction: column;
  background-color: #b4d3aa;
  margin: 6px;
  width: 14%;
  border-radius: 10px;
  padding: 30px 30px 10px 30px;
}

.image {
  background-color: #b4d3aa;
  padding: 0;
  margin: 0;
}

.card:hover:not(:has(*:hover)) {
  box-shadow: 0 0 20px #8ea387;
}

.card:active:not(:has(*:hover)) {
  box-shadow: 0 0 20px #677962;
}

.card-name {
  font-size: 18px;
  background-color: #b4d3aa;
  color: #f7d99b;
}
